<?xml version="1.0"?>
<launch>
  <!-- 仅使用帧到地图 FAST_GICP，不使用任何帧间位姿 -->
  <arg name="nodelet_manager" default="$(anon hdl_localization_nodelet_manager)" />
  <arg name="points_topic" default="/perception/lidar_up_pointcloud" />
  <!-- input clouds are transformed in odom_child_frame, and then localization is performed in that frame -->
  <!-- this is useful to match the LIDAR and IMU coodinate systems -->
  <!-- <arg name="odom_child_frame_id" default="imu_link" /> -->
    <arg name="odom_child_frame_id" default="base_link" />
    <!-- 车辆大小信息，高度在1.88-1.92之间，x在-0.91到2.12之间，y在-0.72到0.69之间。 -->


  <!-- ndt不用imu，gicp建议用，optional arguments，不用imu时除了use_global_localization全false， -->
  <arg name="use_imu" default="true" />
  <arg name="invert_imu_acc" default="false" />
  <arg name="invert_imu_gyro" default="false" />
  <arg name="use_global_localization" default="false" />
  <arg name="imu_topic" default="/localization/imu" />
  <!-- 关闭帧间位姿链路：不计算 f2f 初值，不参与任何后续融合 -->
  <arg name="enable_frame2frame_ndt" default="false" />
  <!-- 若重新启用帧间时可选：NDT_OMP / FAST_GICP -->
  <arg name="frame2frame_reg_method" default="FAST_GICP" />
  <!-- 原始基线版：FAST_GICP 仅提供帧到地图 NDT 初值，不参与后续融合 -->
  <arg name="enable_score_weighted_fusion" default="true" />
  <!-- 为0时，FAST_GICP 只提供初值，不参与 map-f2f 融合 -->
  <arg name="f2f_score_confidence_gain" default="0.0" />
  <!-- 原始基线不启用方向相关融合 -->
  <arg name="enable_axis_anisotropic_fusion" default="false" />
  <!-- 以下参数在原始基线中保留默认值，但不参与方向相关融合 -->
  <arg name="f2f_axial_conf_gain" default="1.0" />
  <arg name="f2f_nonaxial_conf_gain" default="0.25" />
  <arg name="map_axial_conf_gain" default="0.3" />
  <arg name="map_nonaxial_conf_gain" default="1.0" />
  <!-- 墙结构可观测性自适应：仅在地图配准可靠时，根据 wall_r 增强轴向 map 信息权重 -->
  <arg name="enable_wall_r_axial_adaptation" default="false" />
  <arg name="wall_r_axial_beta" default="1.0" />
  <arg name="wall_r_axial_scale_min" default="1.0" />
  <arg name="wall_r_axial_scale_max" default="2.5" />
  <!-- 增量静态结构轴向自适应：根据 r_inc_static 调整轴向 f2f 信息权重 -->
  <arg name="enable_inc_static_axial_adaptation" default="false" />
  <!-- 时序窗口长度（帧数）。越大越平滑、触发更严格，但响应更慢 -->
  <arg name="inc_static_window_size" default="15" />
  <!-- 单个未知体素在窗口内至少出现多少次才记为“稳定未知体素” -->
  <arg name="inc_static_min_hits" default="15" />
  <!-- 当前帧点云下采样步长。越大计算越快，但统计更粗 -->
  <arg name="inc_static_sample_step" default="4" />
  <!-- 当前帧未知体素数量门槛：未达到该数量时，不计算 stable_ratio（直接按0处理） -->
  <arg name="inc_static_min_unknown_voxels" default="20" />
  <!-- 轴向自适应强度：以 1.0 为基准，死区外按 beta 朝目标缩放，并限制在 [min,max] -->
  <arg name="inc_static_beta" default="0.05" />
  <!-- r_inc_static 死区阈值：低于该值时强制 scale=1.0，仅高于阈值才开始增益 -->
  <arg name="inc_static_r_deadzone" default="0.25" />
  <!-- 轴向自适应缩放下界 -->
  <arg name="inc_static_scale_min" default="1.0" />
  <!-- 轴向自适应缩放上界 -->
  <arg name="inc_static_scale_max" default="1.5" />
  

  <arg name="enable_reg_debug_csv" default="true" />
  <arg name="reg_debug_csv_path" default="/home/scy/catkin_ws_hdl_location/reg_debug_0416_gt-original-fastgicp.csv" />
  <arg name="enable_robot_odometry_prediction" value="false" />
  <arg name="robot_odom_frame_id" value="odom" />
  <arg name="plot_estimation_errors" value="false" />
  <!-- 原始基线不启用体素先验 -->
  <arg name="map_prior_experiment_preset" default="off" />
  <arg name="map_prior_enable" default="false" />
  <!-- 独立开关：体素先验仅用于调节 map_nonaxial，关闭后仍可加载体素用于日志或其他统计 -->
  <arg name="enable_map_prior_nonaxial_adaptation" default="false" />
  <arg name="map_prior_voxel_size_arg" default="2.0" />
  <arg name="map_prior_sample_step_arg" default="4" />
  <arg name="map_prior_min_hits_arg" default="150" />
  <arg name="map_prior_core_gain_arg" default="1.0" />
  <arg name="map_prior_band_gain_arg" default="0.85" />
  <arg name="map_prior_inner_gain_arg" default="0.30" />
  <arg name="map_prior_uncertain_gain_arg" default="0.05" />
  <arg name="map_prior_conf_floor_arg" default="0.15" />

  <include file="$(find hdl_global_localization)/launch/hdl_global_localization.launch" if="$(arg use_global_localization)" />
<!-- 雷达和imu之间坐标变换，新加修改,参数顺序：yaw pitch roll -->
<!-- static_transform_publisher x y z yaw pitch roll frame_id child_frame_id  period(milliseconds) -->
 <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_odom_tf" args="-2.048869 0.000000 -1.421632 -3.093764 1.563193 0.000007 $(arg robot_odom_frame_id) $(arg odom_child_frame_id) " /> -->
  <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_os_sensor_tf" args="0.00000000 0.00000000 0.00000000 0.0 1.56967275 3.14159259 base_link $(arg odom_child_frame_id)" /> -->
  <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_os_sensor_tf" args="0.00000000 0.00000000 0.00000000 0.0 1.56967275 3.14159259 base_link $(arg odom_child_frame_id)" /> -->
    <!-- yaw: -0.00005660, pitch: 1.56967275, roll: -3.14153606yaw: 0.00000000, pitch: -1.57000000, roll: -3.14159260 -->
<!-- 0.0 1.56967275 3.14159259tf是对的baselink imu是对的 -->
    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_os_sensor_tf" args="0.00000000 0.00000000 0.00000000 0.00000000 -1.57000000 -3.14159260 $(arg odom_child_frame_id) base_link" /> -->
  <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_os_sensor_tf" args="0.00000000 0.00000000 0.00000000 0.0 1.56967275 3.14159259 base_link $(arg odom_child_frame_id)" /> -->
    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_os_sensor_tf" args="0.00000000 0.00000000 0.00000000 -0.00006730 -1.57000000 3.14152536 base_link $(arg odom_child_frame_id)" /> -->
<!-- 激光与imu之间的关系 -->
    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_os_sensor_tf" args="0.00000000 0.00000000 0.00000000 -0.7073882691671995 -1.8939307631412416e-08 0.7068251811053657 1.8954395517797516e-08 $(arg odom_child_frame_id) base_link" /> -->


<!-- <node pkg="tf" type="static_transform_publisher" name="lidar2base_publisher"
      args="0 0 0 0.0  1.56967275 3.14159259  $(arg odom_child_frame_id) base_link 100" /> -->

  <!-- in case you use velodyne_driver, comment out the following line -->
  <!-- 如果你使用的是 velodyne_driver，请注释掉下面这一行 -->
  <node pkg="nodelet" type="nodelet" name="$(arg nodelet_manager)" args="manager" output="screen"/>

    <!-- globalmap_server_nodelet -->
    <node pkg="nodelet" type="nodelet" name="globalmap_server_nodelet" args="load hdl_localization/GlobalmapServerNodelet $(arg nodelet_manager)">
      <!-- <param name="globalmap_pcd" value="/home/scy/0805/0805/global_map.pcd" /> -->
    <!-- <param name="globalmap_pcd" value="/home/scy/矿下地图/map_final_test_1clean.pcd" /> -->
          <!-- <param name="globalmap_pcd" value="/home/scy/0805/0805/dlo_map.pcd" /> -->
<!-- <param name="globalmap_pcd" value="/home/scy/map_hdl.pcd" /> -->
<!-- 定位正常 -->
<!-- <param name="globalmap_pcd" value="/home/scy/0805/0805/Mapped/dlo_map_all_1.pcd" /> -->
<!-- <param name="globalmap_pcd" value="/home/scy/0805/0805/Mapped/DLO_half_keyframe11_0.05resolution.pcd" /> -->

<param name="globalmap_pcd" value="/media/scy/新加卷/数据集/locus多个地下矿井/真值/_ground_truth-20250124T153559Z-001/_ground_truth/D_Tunnel_Husky4_gt/h4_sr2_gt_map.pcd" />
<param name="metadata_file" value="/media/scy/新加卷/数据集/autoware_map_output/公司地图/pointcloud_map_metadata.yaml" />
<param name="tile_map_dir" value="/media/scy/新加卷/数据集/autoware_map_output/公司地图/pointcloud_map.pcd" />    
      <param name="convert_utm_to_local" value="true" />
      <!-- ndt0.15 -->
      <param name="downsample_resolution" value="0.3" />
            <!-- <param name="downsample_resolution" value="0.2" /> -->

    </node>

    <!-- hdl_localization_nodelet -->
    <node pkg="nodelet" type="nodelet" name="hdl_localization_nodelet" args="load hdl_localization/HdlLocalizationNodelet $(arg nodelet_manager)">
     <!-- 地图参数 -->
      <param name="metadata_file" value="/media/scy/新加卷/数据集/autoware_map_output/公司地图/pointcloud_map_metadata.yaml" />
      <param name="tile_radius" value="1" />   <!-- 1=3x3, 2=5x5 -->
<param name="time_offset_lidar_to_imu" value="0.0" />

      <remap from="/velodyne_points" to="$(arg points_topic)" />
      <remap from="/gpsimu_driver/imu_data" to="$(arg imu_topic)" />
      <!-- odometry frame_id -->
      <param name="odom_child_frame_id" value="$(arg odom_child_frame_id)" />
      <!-- imu settings -->
      <!-- during "cool_time", imu inputs are ignored -->
      <param name="use_imu" value="$(arg use_imu)" />
      <param name="invert_acc" value="$(arg invert_imu_acc)" />
      <param name="invert_gyro" value="$(arg invert_imu_gyro)" />
      <param name="cool_time_duration" value="2.0" />
      <!-- robot odometry-based prediction -->
      <param name="enable_robot_odometry_prediction" value="$(arg enable_robot_odometry_prediction)" />
      <param name="robot_odom_frame_id" value="$(arg robot_odom_frame_id)" />
      <!-- ndt settings -->
      <!-- available reg_methods: FAST_GICP, NDT_OMP, NDT_CUDA_P2D, NDT_CUDA_D2D, FAST_VGICP, GICP, ICP -->
      <param name="reg_method" value="FAST_GICP" />
      <!-- if NDT is slow for your PC, try DIRECT1，DIRECT7，KDTREE serach method, which is a bit unstable but extremely fast -->
      <param name="ndt_neighbor_search_method" value="KDTREE" />
      <param name="ndt_neighbor_search_radius" value="2.0" />
      <param name="ndt_resolution" value="2.0" />
      <param name="ndt_num_threads" value="6" />
      <param name="ndt_max_iterations" value="80" />
      <param name="ndt_transformation_epsilon" value="0.0005" />
      <param name="ndt_step_size" value="0.05" />
      <param name="ndt_outlier_ratio" value="0.55" />
      <param name="enable_frame2frame_ndt" value="$(arg enable_frame2frame_ndt)" />
      <param name="frame_to_frame_reg_num_threads" value="6" />
      <param name="frame2frame_reg_method" value="$(arg frame2frame_reg_method)" />
      <param name="enable_score_weighted_fusion" value="$(arg enable_score_weighted_fusion)" />
      <!-- 表示分数控制加权，越小加权越高 -->
      <param name="ndt_score_good" value="0.06" />
      <param name="ndt_score_bad" value="0.30" />

      <param name="ndt_score_min_confidence" value="0.05" />
      <param name="f2f_score_confidence_gain" value="$(arg f2f_score_confidence_gain)" />
      <param name="enable_axis_anisotropic_fusion" value="$(arg enable_axis_anisotropic_fusion)" />
      <param name="f2f_axial_conf_gain" value="$(arg f2f_axial_conf_gain)" />
      <param name="f2f_nonaxial_conf_gain" value="$(arg f2f_nonaxial_conf_gain)" />
      <param name="map_axial_conf_gain" value="$(arg map_axial_conf_gain)" />
      <param name="map_nonaxial_conf_gain" value="$(arg map_nonaxial_conf_gain)" />
      <param name="enable_wall_r_axial_adaptation" value="$(arg enable_wall_r_axial_adaptation)" />
      <param name="wall_r_axial_beta" value="$(arg wall_r_axial_beta)" />
      <param name="wall_r_axial_scale_min" value="$(arg wall_r_axial_scale_min)" />
      <param name="wall_r_axial_scale_max" value="$(arg wall_r_axial_scale_max)" />
      <param name="enable_inc_static_axial_adaptation" value="$(arg enable_inc_static_axial_adaptation)" />
      <param name="inc_static_window_size" value="$(arg inc_static_window_size)" />
      <param name="inc_static_min_hits" value="$(arg inc_static_min_hits)" />
      <param name="inc_static_sample_step" value="$(arg inc_static_sample_step)" />
      <param name="inc_static_min_unknown_voxels" value="$(arg inc_static_min_unknown_voxels)" />
      <param name="inc_static_beta" value="$(arg inc_static_beta)" />
      <param name="inc_static_r_deadzone" value="$(arg inc_static_r_deadzone)" />
      <param name="inc_static_scale_min" value="$(arg inc_static_scale_min)" />
      <param name="inc_static_scale_max" value="$(arg inc_static_scale_max)" />
      <!-- 原始基线不启用额外的 f2f 置信度/动态过滤 -->
      <param name="enable_f2f_confidence_filter" value="false" />
      <param name="enable_f2f_dynamic_filter" value="false" />
      <param name="f2f_wall_y_threshold" value="3.0" />
      <param name="f2f_wall_z_min" value="0.2" />
      <param name="f2f_wall_z_max" value="3.0" />
      <param name="f2f_wall_keep_ratio" value="0.4" />
      <param name="f2f_dynamic_voxel_size" value="0.5" />
      <param name="f2f_dynamic_keep_ratio" value="0.25" />
      <param name="f2f_min_filtered_points" value="1000" />
      <!-- axis prior (1D along centerline, without cross-section area descriptor) -->
      <param name="enable_axis_prior" value="false" />
      <param name="axis_centerline_csv" value="/home/scy/catkin_ws_hdl_location/中轴/axis_0416_new5_noalign_centerline.csv" />
      <param name="axis_profile_csv" value="/home/scy/catkin_ws_hdl_location/中轴/axis_0416_new5_noalign_profile.csv" />
      <param name="axis_search_window" value="6.0" />
      <param name="axis_lateral_weight" value="1.0" />
      <param name="axis_vertical_weight" value="0.2" />
      <param name="axis_smooth_weight" value="0.01" />
      <param name="axis_temporal_weight" value="0.05" />
      <param name="axis_max_lateral" value="3.0" />
      <param name="axis_max_delta_s" value="0.15" />
      <param name="axis_prealign_only_when_degenerate" value="false" />
      <param name="axis_postalign_only_when_degenerate" value="true" />
      <!-- map prior voxel layer (core/band/inner/uncertain, penalty-only for map_nonaxial) -->
      <param name="enable_map_prior_layer" value="$(eval 'false' if arg('map_prior_experiment_preset') == 'off' else ('true' if arg('map_prior_experiment_preset') in ['conservative', 'mild_boost'] else arg('map_prior_enable')))" />
      <param name="enable_map_prior_nonaxial_adaptation" value="$(arg enable_map_prior_nonaxial_adaptation)" />
      <param name="map_prior_csv" value="/home/scy/catkin_ws_hdl_location/墙平面0416/prior_layer_map_tuned_clean10/prior_voxel_layer_from_map.csv" />
      <param name="map_prior_voxel_size" value="$(eval '2.0' if arg('map_prior_experiment_preset') in ['conservative', 'mild_boost'] else arg('map_prior_voxel_size_arg'))" />
      <param name="map_prior_sample_step" value="$(eval '4' if arg('map_prior_experiment_preset') in ['conservative', 'mild_boost'] else arg('map_prior_sample_step_arg'))" />
      <param name="map_prior_min_hits" value="$(eval '150' if arg('map_prior_experiment_preset') in ['conservative', 'mild_boost'] else arg('map_prior_min_hits_arg'))" />
      <param name="map_prior_core_gain" value="$(eval '1.00' if arg('map_prior_experiment_preset') == 'conservative' else ('1.05' if arg('map_prior_experiment_preset') == 'mild_boost' else arg('map_prior_core_gain_arg')))" />
      <param name="map_prior_band_gain" value="$(eval '0.85' if arg('map_prior_experiment_preset') == 'conservative' else ('0.90' if arg('map_prior_experiment_preset') == 'mild_boost' else arg('map_prior_band_gain_arg')))" />
      <param name="map_prior_inner_gain" value="$(eval '0.30' if arg('map_prior_experiment_preset') in ['conservative', 'mild_boost'] else arg('map_prior_inner_gain_arg'))" />
      <param name="map_prior_uncertain_gain" value="$(eval '0.05' if arg('map_prior_experiment_preset') in ['conservative', 'mild_boost'] else arg('map_prior_uncertain_gain_arg'))" />
      <param name="map_prior_conf_floor" value="$(eval '0.15' if arg('map_prior_experiment_preset') in ['conservative', 'mild_boost'] else arg('map_prior_conf_floor_arg'))" />
      <param name="enable_reg_debug_csv" value="$(arg enable_reg_debug_csv)" />
      <param name="reg_debug_csv_path" value="$(arg reg_debug_csv_path)" />
      <!-- <param name="ndt_neighbor_search_radius" value="1.0" />
      <param name="ndt_resolution" value="0.6" /> -->
      <!-- 初始0.1，会有个别帧索引溢出的问题 -->
      <param name="downsample_resolution" value="0.2" />
          <!-- ======== IMU to base 的四元数 ======== -->
    <param name="q_imu_to_base/x" value="1.0" />
    <param name="q_imu_to_base/y" value="0.0" />
    <param name="q_imu_to_base/z" value="0.0" />
    <param name="q_imu_to_base/w" value="0.0" />


    <!-- ======== IMU to base 的平移 ======== -->
    <param name="t_imu_to_base/x" value="0.0" />
    <param name="t_imu_to_base/y" value="0.0" />
    <param name="t_imu_to_base/z" value="0.0" />
      <!-- if "specify_init_pose" is true, pose estimator will be initialized with the following params -->
      <!-- otherwise, you need to input an initial pose with "2D Pose Estimate" on rviz" -->
      <!--gt地图初始位姿  -->
    <param name="specify_init_pose" value="true" />
    <!-- 605s -->
      <param name="init_pos_x" value="1530.937134" />
      <param name="init_pos_y" value="-270.442673" />
      <param name="init_pos_z" value="0.5" />
      <param name="init_ori_w" value="0.0065251" />
      <param name="init_ori_x" value="-0.00826834" />
      <param name="init_ori_y" value="0.0233589" />
      <param name="init_ori_z" value="-0.990639" />
<!-- 693s -->
      <!-- <param name="init_pos_x" value="1313.937134" />
      <param name="init_pos_y" value="-272.442673" />
      <param name="init_pos_z" value="0.879445" />
      <param name="init_ori_w" value="0.0066545" />
      <param name="init_ori_x" value="-0.0086711" />
      <param name="init_ori_y" value="0.0233589" />
      <param name="init_ori_z" value="-0.990639" /> -->
<!-- 公司地图参数 -->
      <!-- <param name="init_pos_x" value="1302.937134" />
      <param name="init_pos_y" value="-272.442673" />
      <param name="init_pos_z" value="0.879445" />
      <param name="init_ori_w" value="0.0066545" />
      <param name="init_ori_x" value="-0.0086711" />
      <param name="init_ori_y" value="0.0233589" />
      <param name="init_ori_z" value="-0.990639" /> -->

      <!-- 837s -->
      <!-- <param name="init_pos_x" value="1100.937134" />
      <param name="init_pos_y" value="-132.442673" />
      <param name="init_pos_z" value="-35.079445" />
      <param name="init_ori_w" value="0.015251" />
      <param name="init_ori_x" value="-0.026834" />
      <param name="init_ori_y" value="0.155982" />
      <param name="init_ori_z" value="-0.987278" /> -->


      <!-- 912s -->
      <!-- <param name="init_pos_x" value="1100.937134" />
      <param name="init_pos_y" value="-132.442673" />
      <param name="init_pos_z" value="-35.079445" />
      <param name="init_ori_w" value="0.015251" />
      <param name="init_ori_x" value="-0.026834" />
      <param name="init_ori_y" value="0.155982" />
      <param name="init_ori_z" value="-0.987278" /> -->

      <param name="use_global_localization" value="$(arg use_global_localization)" />
    </node>
<!-- 修改 -->
    <node pkg="hdl_localization" type="plot_status.py" name="plot_estimation_errors" if="$(arg plot_estimation_errors)" />

    <!-- <node pkg="hdl_localization" type="plot_status_modified.py" name="plot_estimation_errors" if="$(arg plot_estimation_errors)" /> -->
</launch>
